@if (userBuffer?.estaLogueado) {

<app-management-header></app-management-header>

<div class="container mt-5">
    <form [formGroup]="formularioLand" class="shadow-lg p-4 rounded form-land" (ngSubmit)="onSubmit()">
        <h2 class="text-center mb-4">Agregar Terreno</h2>

        <!--! Título de la Propiedad -->
        <div class="mb-3">
            <label for="tituloPropiedad" class="form-label">Título de la Propiedad</label>
            <input type="text" id="tituloPropiedad" class="form-control" formControlName="tituloPropiedad" placeholder="Ej. Terreno amplio en zona rural" [ngClass]="{'is-invalid': tituloPropiedad?.invalid && tituloPropiedad?.touched}">
            <div *ngIf="tituloPropiedad?.invalid && tituloPropiedad?.touched" class="invalid-feedback">
                El título de la propiedad es obligatorio.
              </div>
        </div>
        
        <!--! Descripción de la Propiedad -->
        <div class="mb-3">
            <label for="descripcionPropiedad" class="form-label">Descripción</label>
            <textarea id="descripcionPropiedad" class="form-control" formControlName="descripcionPropiedad" rows="3" placeholder="Descripción breve" [ngClass]="{'is-invalid': formularioLand.get('descripcionPropiedad')?.invalid && formularioLand.get('descripcionPropiedad')?.touched}"></textarea>
            <div *ngIf="descripcionPropiedad?.invalid && descripcionPropiedad?.touched" class="invalid-feedback">
                La descripción es obligatoria.
              </div>
        </div>

        <!--! Precio -->
        <div class="mb-3">
            <label for="precioPropiedad" class="form-label">Precio (USD)</label>
            <input type="text" id="precioPropiedad" class="form-control" formControlName="precioPropiedad" placeholder="Ej. 100000" [ngClass]="{'is-invalid': precioPropiedad?.touched && (precioPropiedad?.hasError('required') || precioPropiedad?.hasError('nonPositiveNumber'))}">
            <div *ngIf="precioPropiedad?.invalid && precioPropiedad?.touched" class="invalid-feedback">
                <div *ngIf="precioPropiedad?.hasError('required')">El precio es obligatorio.</div>
                <div *ngIf="precioPropiedad?.hasError('nonPositiveNumber')">El precio debe ser mayor que 0 y no se pueden ingresar letras.</div>
            </div>
        </div>

        <!--! Superficie Cubierta y Total -->
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="superficieCubierta" class="form-label">Superficie Cubierta (m²)</label>
                <input type="text" id="superficieCubierta" class="form-control" formControlName="superficieCubierta" placeholder="Ej. 0 si no hay" [ngClass]="{'is-invalid': superficieCubierta?.touched && (superficieCubierta?.hasError('required') || superficieCubierta?.hasError('min'))}">
                <div *ngIf="superficieCubierta?.invalid && superficieCubierta?.touched" class="invalid-feedback">
                    <div *ngIf="superficieCubierta?.hasError('required')">La superficie cubierta es obligatoria.</div>
                    <div *ngIf="superficieCubierta?.hasError('min')">La superficie cubierta debe ser mayor que 0.</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="superficieTotal" class="form-label">Superficie Total (m²)</label>
                <input type="text" id="superficieTotal" class="form-control" formControlName="superficieTotal" placeholder="Ej. 500" [ngClass]="{'is-invalid': superficieTotal?.touched && (superficieTotal?.hasError('required') || superficieTotal?.hasError('min'))}">
                <div *ngIf="superficieTotal?.invalid && superficieTotal?.touched" class="invalid-feedback">
                    <div *ngIf="superficieTotal?.hasError('required')">La superficie total es obligatoria.</div>
                    <div *ngIf="superficieTotal?.hasError('min')">La superficie total debe ser mayor que 0.</div>
                </div>
            </div>
        </div>

        <!--! Dirección -->
        <fieldset formGroupName="direccionPropiedad" class="border p-3 rounded mb-3">
            <legend class="h6">Dirección de la Propiedad</legend>
            <div class="mb-3">
                <label for="pais" class="form-label">País</label>
                <input type="text" id="pais" formControlName="pais" class="form-control" placeholder="Ej. Argentina"
                       [ngClass]="{'is-invalid': formularioLand.get('direccionPropiedad.pais')?.touched && (formularioLand.get('direccionPropiedad.pais')?.hasError('required') || formularioLand.get('direccionPropiedad.pais')?.hasError('hasNumbers'))}">
                <div *ngIf="formularioLand.get('direccionPropiedad.pais')?.invalid && formularioLand.get('direccionPropiedad.pais')?.touched" class="invalid-feedback">
                  <div *ngIf="formularioLand.get('direccionPropiedad.pais')?.hasError('required')">El país es obligatorio.</div>
                  <div *ngIf="formularioLand.get('direccionPropiedad.pais')?.hasError('hasNumbers')">No se permiten números en el país.</div>
                </div>
              </div>
              
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <input type="text" id="provincia" formControlName="provincia" class="form-control" placeholder="Ej. Buenos Aires"
                               [ngClass]="{'is-invalid': formularioLand.get('direccionPropiedad.provincia')?.touched && (formularioLand.get('direccionPropiedad.provincia')?.hasError('required') || formularioLand.get('direccionPropiedad.provincia')?.hasError('hasNumbers'))}">
                        <div *ngIf="formularioLand.get('direccionPropiedad.provincia')?.invalid && formularioLand.get('direccionPropiedad.provincia')?.touched" class="invalid-feedback">
                          <div *ngIf="formularioLand.get('direccionPropiedad.provincia')?.hasError('required')">La provincia es obligatoria.</div>
                          <div *ngIf="formularioLand.get('direccionPropiedad.provincia')?.hasError('hasNumbers')">No se permiten números en la provincia.</div>
                        </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="localidad" class="form-label">Localidad</label>
                    <input type="text" id="localidad" formControlName="localidad" class="form-control" placeholder="Ej. Buenos Aires"
                    [ngClass]="{'is-invalid': formularioLand.get('direccionPropiedad.localidad')?.touched && (formularioLand.get('direccionPropiedad.localidad')?.hasError('required') || formularioLand.get('direccionPropiedad.localidad')?.hasError('hasNumbers'))}">
                        <div *ngIf="formularioLand.get('direccionPropiedad.localidad')?.invalid && formularioLand.get('direccionPropiedad.localidad')?.touched" class="invalid-feedback">
                        <div *ngIf="formularioLand.get('direccionPropiedad.localidad')?.hasError('required')">La localidad es obligatoria.</div>
                        <div *ngIf="formularioLand.get('direccionPropiedad.localidad')?.hasError('hasNumbers')">No se permiten números en la localidad.</div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-3">
                    <label for="nombreCalle" class="form-label">Calle</label>
                    <input type="text" id="nombreCalle" formControlName="nombre_calle" class="form-control" placeholder="Ej. Av. Libertador"
                    [ngClass]="{'is-invalid': formularioLand.get('direccionPropiedad.nombre_calle')?.touched && (formularioLand.get('direccionPropiedad.nombre_calle')?.hasError('required') || formularioLand.get('direccionPropiedad.nombre_calle')?.hasError('hasNumbers'))}">
                        <div *ngIf="formularioLand.get('direccionPropiedad.nombre_calle')?.invalid && formularioLand.get('direccionPropiedad.nombre_calle')?.touched" class="invalid-feedback">
                            <div *ngIf="formularioLand.get('direccionPropiedad.nombre_calle')?.hasError('required')">La calle es obligatoria.</div>
                            <div *ngIf="formularioLand.get('direccionPropiedad.nombre_calle')?.hasError('hasNumbers')">No se permiten números en el nombre de la calle.</div>
                        </div>                
                </div>
                <div class="col-md-4 mb-3">
                    <label for="numero_calle" class="form-label">Número</label>
                    <input type="text" id="numero_calle" formControlName="numero_calle" class="form-control" placeholder="Ej. 123"
                    [ngClass]="{'is-invalid': formularioLand.get('direccionPropiedad.numero_calle')?.touched && (formularioLand.get('direccionPropiedad.numero_calle')?.hasError('required') || formularioLand.get('direccionPropiedad.numero_calle')?.hasError('nonNumeric'))}">
                        <div *ngIf="formularioLand.get('direccionPropiedad.numero_calle')?.invalid && formularioLand.get('direccionPropiedad.numero_calle')?.touched" class="invalid-feedback">
                            <div *ngIf="formularioLand.get('direccionPropiedad.numero_calle')?.hasError('required')">El numero de la calle es obligatoria.</div>
                            <div *ngIf="formularioLand.get('direccionPropiedad.numero_calle')?.hasError('nonNumeric')">No se permiten letras en el numero de la calle ni numeros negativos.</div>
                        </div>     
                </div>
            </div>
        </fieldset>

        <!--! Ubicación Geográfica -->
        <fieldset formGroupName="ubicacionPropiedad" class="border p-3 rounded mb-3">
            <legend class="h6">Ubicación Geográfica</legend>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lat" class="form-label">Latitud</label>
                    <input type="number" id="lat" class="form-control" formControlName="lat" placeholder="Ej. -34.6037" [ngClass]="{'is-invalid': formularioLand.get('ubicacionPropiedad.lat')?.touched && (formularioLand.get('ubicacionPropiedad.lat')?.hasError('required') || formularioLand.get('ubicacionPropiedad.lat')?.hasError('notNegative'))}">
                    <div *ngIf="formularioLand.get('ubicacionPropiedad.lat')?.invalid && formularioLand.get('ubicacionPropiedad.lat')?.touched && formularioLand.get('ubicacionPropiedad.lat')?.hasError('notNegative')" class="invalid-feedback">
                        <div *ngIf="formularioLand.get('ubicacionPropiedad.lat')?.hasError('required')">La latitud es obligatoria.</div>
                        <div *ngIf="formularioLand.get('ubicacionPropiedad.lat')?.hasError('notNegative')">La latitud cubierta debe ser menor que 0.</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lng" class="form-label">Longitud</label>
                    <input type="number" id="lng" class="form-control" formControlName="lng" placeholder="Ej. -58.3816" [ngClass]="{'is-invalid': formularioLand.get('ubicacionPropiedad.lng')?.touched && (formularioLand.get('ubicacionPropiedad.lng')?.hasError('required') || formularioLand.get('ubicacionPropiedad.lng')?.hasError('notNegative'))}">
                    <div *ngIf="formularioLand.get('ubicacionPropiedad.lng')?.invalid && formularioLand.get('ubicacionPropiedad.lng')?.touched && formularioLand.get('ubicacionPropiedad.lng')?.hasError('notNegative')" class="invalid-feedback">
                        <div *ngIf="formularioLand.get('ubicacionPropiedad.lng')?.hasError('required')">La latitud es obligatoria.</div>
                        <div *ngIf="formularioLand.get('ubicacionPropiedad.lng')?.hasError('notNegative')">La latitud cubierta debe ser menor que 0.</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!--! Imágenes -->
        <div class="mb-3">
            <label for="imagen" class="form-label">Agregar Imágenes (URL)</label>
            <input type="text" id="imagen" #imagenInput class="form-control" placeholder="Ej. http://ejemplo.com/imagen.jpg">
            <button type="button" class="btn btn-secondary mt-2 personalizado" (click)="addImage(imagenInput.value); imagenInput.value=''">Agregar Imagen</button>
        </div>

        <!--! Botón de Enviar -->
        <button type="submit" class="btn text-white w-100 mt-3 personalizado" [disabled]="formularioLand.invalid">Agregar Terreno</button>
    </form>

    @if (mensajeExito) {

      <div class="containerMensajeExito">
        <div class="mensajeExito">
          {{mensajeExito}}
        </div>
      </div>
    }
  
    @if ( mensajeError) {
  
      <div class="containerMensajeError">
        <div class="mensajeError">
          {{mensajeError}}
        </div>
      </div>
    }

</div>

<app-management-footer></app-management-footer>
}

@else {

    <div class="container denied-access-container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="alert alert-danger text-center denied-access-alert" role="alert">
            <h4 class="alert-heading">
              <i class="bi bi-exclamation-triangle-fill me-2"></i>Acceso Denegado
            </h4>
            <p class="mb-3">No tienes permisos para acceder a esta página.</p>
            <hr>
            <div class="d-flex justify-content-center">
              <button 
                (click)="redirectToHome()" 
                 class="btn btn-outline-danger">
                Ir a Página Principal
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }