@if (userBuffer?.estaLogueado) {

  <app-management-header></app-management-header>

  <div class="logout-container">
    @if (userBuffer) {
        <button 
        (click)="cerrarSesion()" 
         class="btn btn-danger">
        Cerrar Sesión
      </button>
    }
</div>

<app-list-houses></app-list-houses>
<app-list-departaments></app-list-departaments>
<app-list-lands></app-list-lands>
}

@else {
  <div class="container denied-access-container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-danger text-center denied-access-alert" role="alert">
          <h4 class="alert-heading">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>Acceso Denegado
          </h4>
          <p class="mb-3">No tienes permisos para acceder a esta página.</p>
          <hr>
          <div class="d-flex justify-content-center">
            <button 
              (click)="redirectToHome()" 
              class="btn btn-outline-danger">
              Ir a Página Principal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}
