body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    animation: zoom 15s infinite alternate;
    overflow: hidden; 
  }

  h1, h2, h5 {
    color: #007200;
  }

 /*! Animación para el zoom del fondo */
 @keyframes zoom {
    0% {
        background-size: 100% 100%; 
    }
    100% {
        background-size: 110% 110%; 
    }
  }

  .transparent-card {
    background-color: #ffffff; 
    border: 2px solid rgba(0, 0, 0, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
  }

  .card {
    margin: 15px 0;
  }
  
  .img-fluid {
    margin-bottom: 20px;
}