.custom-logo {
    width: 80px; 
    height: 80px;
    object-fit: cover; 
}
.custom-color {
    background-color: #007200;
    margin: 0; 
    padding: 0; 
}

.nav-link {
    position: relative; 
}

.nav-link::after {
    content: '';
    display: block;
    width: 0; 
    height: 2px; 
    background: #ffffff;
    transition: width 0.3s; 
    position: absolute;
    bottom: -3px; 
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%; 
    left: 0; 
}

.navbar-toggler {
    border-color: transparent; 
    color: transparent;
}
.navbar-toggler-icon {
    background-color: white; 
}

.redes-sociales {
    display: flex;
    height: 70px;
    width: 270px;
}


