@if (userBuffer?.estaLogueado) {

    <app-management-header></app-management-header>

    <app-detail-land [siEstasEnGestion]="true"></app-detail-land>

    <div class="button-container ">
        <button (click)="backToManagementHome()" class="botonAtras">Atrás</button>
    </div>

    <app-management-footer></app-management-footer>
}

@else {

    <div class="container denied-access-container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="alert alert-danger text-center denied-access-alert" role="alert">
              <h4 class="alert-heading">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>Acceso Denegado
              </h4>
              <p class="mb-3">No tienes permisos para acceder a esta página.</p>
              <hr>
              <div class="d-flex justify-content-center">
                <button 
                  (click)="redirectToHome()" 
                  class="btn btn-outline-danger">
                  Ir a Página Principal
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
}
